<?xml version="1.0"?>
<config>
    <modules>
        <VS7_SwatchesPreconfig>
            <version>0.1.0</version>
        </VS7_SwatchesPreconfig>
    </modules>
    <global>
        <blocks>
            <vs7_swatchespreconfig>
                <class>VS7_SwatchesPreconfig_Block</class>
            </vs7_swatchespreconfig>
        </blocks>
        <models>
            <vs7_swatchespreconfig>
                <class>VS7_SwatchesPreconfig_Model</class>
            </vs7_swatchespreconfig>
        </models>
        <events>
            <controller_action_layout_render_before_catalog_product_view>
                <observers>
                    <vs7_swatchespreconfig>
                        <class>VS7_SwatchesPreconfig_Model_Observer</class>
                        <method>swatchesPreconfig</method>
                    </vs7_swatchespreconfig>
                </observers>
            </controller_action_layout_render_before_catalog_product_view>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <vs7_swatchespreconfig>
                    <file>vs7_swatchespreconfig.xml</file>
                </vs7_swatchespreconfig>
            </updates>
        </layout>
    </frontend>
</config>